<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

	<resultMap type="Product" id="ProductMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="domain" property="domain" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="labels" property="labels" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="liked" property="liked" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
		<result column="last_modified" property="lastModified" jdbcType="TIMESTAMP" />
		
		<association property="user" javaType="User" column="user_id" select="UserMapper.queryById"></association>
		<association property="topic" javaType="Topic" column="topic_id" select="TopicMapper.queryById"></association>
	</resultMap>
	
	<!-- 添加产品 -->
	<insert id="insert" parameterType="Product">
	INSERT INTO t_product
	(name, title, domain, url, labels, `comment`, image, liked, state, user_id, topic_id)
	VALUES (#{name}, #{title}, #{domain}, #{url}, #{labels}, #{comment}, #{image}, #{liked}, #{state}, #{user.id}, #{topic.id})
	</insert>
	
	<!-- 删除产品 -->
	<delete id="delete" parameterType="Product">
		DELETE FROM t_product WHERE id = #{id}
	</delete>
	
	<!-- 修改产品 -->
	<update id="update" parameterType="Product">
		UPDATE t_product
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="domain != null and domain != ''">
				domain = #{domain},
			</if>
			<if test="url != null and url != ''">
				url = #{url},
			</if>
			<if test="labels != null">
				labels = #{labels},
			</if>
			<if test="comment != null">
				comment = #{comment},
			</if>
			<if test="image != null">
				image = #{image},
			</if>
			<if test="liked != null">
				liked = #{liked},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="topic != null and topic.id != null">
				topic_id = #{topic.id}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 查询 -->
	<select id="query" parameterType="product" resultMap="ProductMap">
		SELECT id, name, title, domain, url, labels, `comment`, image, liked, state, created, last_modified, user_id, topic_id
		FROM t_product
		<where>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="title != null and title !=''">
				AND title = #{title}
			</if>
			<if test="domain != null and domain !=''">
				AND domain = #{domain}
			</if>
			<if test="url != null and url != ''">
				AND url = #{url}
			</if>
			<if test="labels != null and labels != ''">
				AND labels LIKE CONCAT('%', #{labels}, '%')
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="user != null and user.id != null">
				AND user_id = #{user.id}
			</if>
			<if test="topic != null and topic.id != null">
				AND topic_id = #{topic.id}
			</if>
		</where>
	</select>
	
	<!-- 根据ID查询标签 -->
	<select id="queryById" parameterType="Product" resultMap="ProductMap">
		SELECT id, name, title, domain, url, labels, `comment`, image, liked, state, created, last_modified, user_id, topic_id
		FROM t_product
		WHERE id = #{id} LIMIT 1
	</select>

</mapper>